@import url('base.css');
:root{
    /*
    Colors Used:
    #FF6789
    #C05DFF
    #6A49E8
    #5072FF
    white
    */
    --colHeaderBG: #C05DFF;
    --colMainBG: #6A49E8;
    --colH1: #6A49E8;
    --colH2: #C05DFF;
    --colP: white;
    --colNavText: #6A49E8;
    --colNavTextHover: white;
    --colNavBGHover: #6A49E8;
    --colHeadBorder: #5072FF;
    --colShapeCol: #FF6789;
    --colTopBG: #6A49E8;
    --colHMarker: white;
    --colEyeInset: white;
    --colTopContentBG: #5072FF;
   --colTopContentShadow:#C05DFF;
    
}
