@import url('base.css');
:root{
    /*
    Colors Used:
    #ED4A7A
    #EFACF2
    #380E36
    #7032A1
    #7A4BB1
    */
    --colHeaderBG: #7A4BB1;
    --colMainBG: #380E36;
    --colH1: #380E36;
    --colH2: #7A4BB1;
    --colP: #EFACF2;
    --colNavText: #380E36;
    --colNavTextHover: #7032A1;
    --colNavBGHover: #380E36;
    --colHeadBorder: #380E36;
    --colShapeCol: #ED4A7A;
    --colTopBG: #7032A1;
    --colHMarker: #EFACF2;
    --colEyeInset: #EFACF2;
    --colTopContentBG: #ED4A7A;
    --colTopContentText:#380E36;
   --colTopContentShadow: #EFACF2;
    --topContentTextShadow: transparent;
    
}
