@import url('base.css');
:root{
    /*
    Colors Used:
    #C43B54
    #EFACF2
    #380E36
    #9027B0
    #4D0049
    */
    --colHeaderBG: #380E36;
    --colMainBG: #380E36;
    --colH1: #C43B54;
    --colH2: #9027B0;
    --colP: #EFACF2;
    --colNavText: #EFACF2;
    --colNavTextHover: #380E36;
    --colNavBGHover: #EFACF2;
    --colHeadBorder: #380E36;
    --colShapeCol: #C43B54;
    --colTopBG: #9027B0;
    --colHMarker: #EFACF2;
    --colEyeInset: #EFACF2;
    --colTopContentBG: #C43B54;
    --colTopContentText:#380E36;
   --colTopContentShadow: #EFACF2;
    --topContentTextShadow: transparent;
    --colMainTextBG:#4D0049;
    
}
