@import url('https://fonts.googleapis.com/css?family=Days+One|Roboto+Slab');

/*variables mainly for colors. Can be swapped in other CSS files.*/
:root{
    --colHeaderBG: #fbec00;
    --colMainBG: #222222;
    --colH1: black;
    --colH2: black;
    --colP: white;
    --colNavText: black;
    --colNavTextHover: white;
    --colNavBGHover: black;
    --colHeadBorder: black;
    --colShapeCol: #222222;
    --colTopBG: orange;
    --colHMarker: white;
    --colEyeInset: white;
    --colTopContentBG: transparent;
    --colTopContentShadow:transparent;
    --colTopContentText:white;
    
    --shapeSize: 4rem;
    --topContentTextShadow: var(--colTopContentShadow);
    

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto Slab', 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}
html,body{
    height:100%;
    display: flex;
    flex-direction: column;
    
}

    h1{
    font-family: 'Days One','Times New Roman', sans-serif;
    font-size: 1.5rem;
    color: var(--colH1);
    
}
mark.w{
    color: var(--colHMarker);
    text-shadow: 0.2rem 0.2rem 0.24rem var(--colH1);
    background: none;
}
h2{
    font-family: 'Days One','Times New Roman', sans-serif;
    font-size: 2.827rem;
    padding:1rem 2rem;
    color: var(--colH2);
}

p{
    font-size: 1rem;
    padding:0.5rem 2rem;
    color: var(--colP);
}
main p:last-child{
    padding-bottom: 2rem;
}
.wrapper{
    box-shadow: rgba(0,0,0,0.7) 0 0.3rem 3rem;
    flex-basis:auto;
    background-color: var(--colMainBG);
}
/*wrapper for the top part of the page*/
.top-wrapper{
    flex-basis: 60%;
    background-color: var(--colTopBG);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:center;
    justify-content:flex-start;
    align-items: center;
    

}
header{
    width: 100%;
    height: 20%;
    margin: 0 0;
    padding:1rem 4rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: auto;
    border-bottom: 0.1rem solid var(--colHeadBorder);
    background-color: var(--colHeaderBG);
}
header>h1{
    margin: 0 2rem;
    text-align: right;
    flex-basis: 35%;
    white-space: nowrap;
    
    
}
nav{
   flex-basis: auto;

}
nav ul{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    
}
nav li{
    z-index: 5;
    margin: 0.4rem 1rem;
    list-style-type: none;
}
nav li>a{
    font-family: 'Days One','Times New Roman', sans-serif;
    color: var(--colNavText);
    
    font-size: 1.1rem;
    text-decoration: none;
    display: block;
    transition: all 0.2s;
}
nav li>a:hover,
nav li>a:active{
    color: var(--colNavTextHover);
    background-color: var(--colNavBGHover);
    transition: all 0.2s;
    
}
main{
    margin: auto;
    width: 50%
}

/*Envelopes eye+triangleB+triangleT which make up the moving mascot below the header*/
.movingMascot{
    width: 30%;
    height: auto;
    
    margin-right: auto;
   display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    flex-wrap: nowrap;
    overflow: hidden; 
    box-shadow:inset 0px 0px white;
}
.triangleT {
    
	height: 0;
	width: 0;
	border-left: var(--shapeSize) solid transparent;
	border-right: var(--shapeSize) solid transparent;
	border-bottom: var(--shapeSize) solid var(--colShapeCol);
	border-top: var(--shapeSize) solid transparent;
    transform: translateY(-50%);
   position:relative;
    
    animation: 3s tT;
    animation-iteration-count: infinite;

}
.triangleB {
    
	height: 0;
	width: 0;
	border-left: var(--shapeSize) solid transparent;
	border-right: var(--shapeSize) solid transparent;
	border-bottom: var(--shapeSize) solid transparent;
	border-top: var(--shapeSize) solid var(--colShapeCol);
    align-self: center;
    animation: 5s tB;
    animation-iteration-count: infinite;  
    position:relative;
}
.eye{
    height: calc(var(--shapeSize) + 1rem);
    width: calc(var(--shapeSize) + 1rem);
    border-radius: 50%;
  background:  radial-gradient(circle at center, var(--colEyeInset)20%, var(--colShapeCol) 26%);
    background-repeat: no-repeat;

    position:relative;
   transform: translate(0%, -25%) scaleY(1);
    box-shadow:inset 0.05rem 0.5rem 0.4rem 0.2rem var(--colEyeInset);
    animation: 3s eyeAnim;
    animation-iteration-count: infinite;

}
/*--Moving mascot ends here--*/

.topContentLeft{
    display: block;
    height:15rem;
    line-height: 15rem;
    background-color: var(--colTopContentBG);
    flex-basis: 30%;
    margin-left: 3%;
    border-radius: 40% 70%;
    box-shadow: 0.0rem 0.4rem 0.2rem 0.2rem var(--colTopContentShadow);
}
.topContentLeft h1{
    display: inline-block;
    width: 95%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    font-size: 3.5rem;
    color: var(--colTopContentText);
    text-shadow: 0.1rem 0.3rem 0.4rem var(--topContentTextShadow);
    opacity: 0.8;
}
.topContentRight{

    display: block;
    flex-basis:30%;
    height: 81%;
    margin: 0;
    align-self:center;
   
    
    background:repeating-linear-gradient(-45deg,transparent, transparent 3rem,  var(--colTopContentBG) 3rem, var(--colTopContentBG) 6rem);
    flex-basis: 30%;
   
}

    
}
footer{
    clear:both;
    width: 100%;
    
}
footer p{
    font-size: 1rem;
    padding: 1rem;
    color: white;
}

/*Animations for the mascot*/
@keyframes eyeAnim 
{
    0%{
        
        transform:translate(0%, -25%) scaleY(1);
        border-radius: 50%;
    }
    4%{
        transform:translate(0%, -25%) scaleY(0);
        border-radius: 100%;
    }
    8%{
        transform:translate(0%, -25%) scaleY(1);
        border-radius: 50%;
    }
}

@keyframes tB 
{
    0%{
        
        transform: translateY(0%); 
    }
    50%{
        transform:translateY(20%);
    }
    100%{
        transform:translateY(0%); 
    }
}
@keyframes tT 
{
    0%{
        
       transform: translateY(-50%); 
    }
    50%{
        transform: translateY(-30%);
    }
    100%{
        transform: translateY(-50%);
    }
}
